<%= turbo_frame_tag dom_id(@personal_detail) do %>
  <div class='my-4 mx-4'>
    <h3 class='md-4'><%= t('user.show.title_edit', model: i18n_model_name(@personal_detail)) %></h3>
    <%= render partial: 'form', locals: { model: @personal_detail, method: :put } %>
  </div>
<% end %>