<p class='contact'>
  <i class="bi bi-geo-alt-fill"></i>
  <%= @contact.address %>
</p>
<p class='contact'>         
  <%= link_to("#{@contact.linkedin}", class: "btn btn-outline-dark mx-1", target: :_blank) do %>
    <i class="bi bi-linkedin"></i>
  <% end %>
  <%= link_to("#{@contact.github}", class: "btn btn-outline-dark mx-1", target: :_blank) do %>
    <i class="bi bi-github"></i>
  <% end %>
</p>