<article>
  <h4><%= strip_tags course.coursename %>
    <span class='title'>
      (<%= course.date_of_end.strftime('%Y') %>)
    </span>
  </h4>
    <%= simple_format course.description, class: 'text-justify' %>
</article>
