<% @educations.each do |education| %>
  <section>
    <h4><%= education.field_of_study %>
      <span class='title'>
        ( <%= education.date_of_end.strftime('%Y') %> )
      </span>
    </h4>
    <p>
      <%= education.name_organization %>
      <%= education.degree %>
    </p>
  </section>
<% end %>