<article>
  <h4><%= strip_tags education.field_of_study %>
    <span class='title'>
      ( <%= education.date_of_end.strftime('%Y') %> )
    </span>
  </h4>
  <p>
    <%= strip_tags education.name_organization %>
    <%= strip_tags education.degree %>
  </p>
</article>
