<%= turbo_frame_tag dom_id(@project) do %>
  <div class='my-4 mx-4'>
    <h3 class='md-4'><%= t('user.show.title_edit', model: i18n_model_name(@project)) %></h3>
    <%= render partial: 'form', locals: { model: @project, method: :put } %>
  </div>
<% end %>