<%= turbo_frame_tag dom_id(@project) do %>
  <div class='col-6 my-4 mx-4'>
    <%= render 'shared/go_back_button' %>
    <h3 class='md-4'><%= t('page.new_one', model: i18n_model_name(@project).downcase) %></h3>
    <%= render partial: 'form',  locals: { model: [@user, @project], method: :post } %>
  </div>
<% end %>