<h1><%= t('page.new_many', model: i18n_model_name(@experience).downcase) %></h1>

<%= render partial: 'form',  locals: { experience: @experience, method: :post, 
  url: user_experiences_path(@user), submit: t('submit.create_one', model: i18n_model_name(@experience).downcase) } %>
